In [1]:
import numpy as np

In [2]:
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
# To check the demention of the array - ndim
a1.ndim

1

In [5]:
# Length of each dimentsion - shape

a1.shape

(3,)

In [11]:
b1 = np.array([10, 20, 30])
b1

array([10, 20, 30])

In [8]:
b1.ndim

1

In [9]:
b1.shape

(3,)

In [12]:
b2 = np.array([30, 40, 50])
b2

array([30, 40, 50])

In [13]:
b2.ndim

1

In [14]:
b2.shape

(3,)

In [16]:
b3 = np.array([b1, b2])
b3

array([[10, 20, 30],
       [30, 40, 50]])

In [17]:
b3.ndim

2

In [18]:
b3.shape

(2, 3)

In [22]:
b3.size

6

In [23]:
b3.dtype

dtype('int64')

In [19]:
# Two dimensional array is created by passing the list of lists as follow.

a2 = np.array([[1, 2, 3], [3, 4, 5]])
a2

array([[1, 2, 3],
       [3, 4, 5]])

In [20]:
a2.ndim # Two dimensional array

2

In [21]:
# Two dimensional arrays and the length of inner lists
# Two rows and three columns
# axis 0 is down direction (axis=0)
# axis 1 is cross direction (axis=1)


a2.shape

(2, 3)

In [26]:
a3 = np.array([1, 2, 3.3])
a3

array([1. , 2. , 3.3])

In [27]:
a3.dtype

dtype('float64')

In [28]:
a3 = np.array([1, 2, 3.3], dtype=int)
a3

array([1, 2, 3])

In [29]:
a4 = np.array([["f", "l", "a", "k", "e"], ["s", "n", "a", "k", "e"], ["a", "w", "a", "k", "e"]])
a4.shape

(3, 5)

In [30]:
# Total elements in the array

a4.size

15

In [31]:
a4.dtype

dtype('<U1')

In [32]:
a4.ndim

2

In [33]:
# Creating array with arrange()

np.arange(0, 15) # Lower bound 0 is included but upper bound 15 is excluded.

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [34]:
# Create arrays in step
# Even number arrays

np.arange(0, 15, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14])

In [35]:
# Create arrays in step
# Odd number arrays

np.arange(1, 15, 2)

array([ 1,  3,  5,  7,  9, 11, 13])

In [36]:
# Creating sequance of real numbers between start and End Point
# np.linespace()
# We specify the number of points

np.linspace(0, 100, 3) # 3 points within 0 to 100

array([  0.,  50., 100.])

In [37]:
# Creating without end point

np.linspace(0, 100, 3, endpoint = False)

array([ 0.        , 33.33333333, 66.66666667])

In [38]:
### Exercise

np.array([[1],[2],[3],[4]]) # 4 rows and 1 column

array([[1],
       [2],
       [3],
       [4]])

In [39]:
np.array([[1],[2],[3],[4]]).shape

(4, 1)

In [40]:
np.array([[1],[2],[3],[4]]).ndim

2

In [41]:
np.array([1,3]).shape

(2,)

In [42]:
np.array([1,3]).ndim

1

In [43]:
np.array([[1],[3]]).shape

(2, 1)

In [44]:
np.array([[1],[3]]).ndim

2

In [45]:
np.array([[1],[3]]).size

2

In [46]:
np.array([1,'2',3])

array(['1', '2', '3'], dtype='<U21')

In [47]:
np.array([1,'2',3]).dtype

dtype('<U21')

## Basic Operations with Arrays

We saw how with the arange() function, we can create an array and specify the range of
numbers that it will contain. Used by itself, this function creates a one-dimensional
array. However, in combination with the reshape() function, we can create an array of
any shape we want.

New array is created. Original arrays are not modified.

In [68]:
a = np.arange(0, 12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [69]:
a.size

12

In [70]:
a.shape

(12,)

In [72]:
# Transform it in to 4 rows and 3 columns two dimensional arrays
# reshape()

a.reshape(4, 3)

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [73]:
arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(4, 3)

print(newarr)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [74]:
newarr.ndim

2

In [75]:
newarr.shape

(4, 3)

In [82]:
# reshapeing array that have 2 arrays that contains 2 arrays with 3 elements 
newarrtest = arr.reshape(2,2,3)
newarrtest

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [85]:
print(newarrtest[0][1][1]) # First array (array Index i is 0), its rows index j is 1 and its column index k is 1. It is 5

5

In [86]:
print(newarrtest[1][0][1]) # Second array (array Index i is 1), its rows index j is 0 and its column index k is 1. It is 8

8

In [88]:
print(newarrtest[1][1][2]) # Second array (array Index i is 1), its rows index j is 1 second row and its column index k is 2, third column. It is 12

12

In [76]:
#Convert the following 1-D array with 12 elements into a 3-D array.

#The outermost dimension will have 2 arrays that contains 3 arrays, each with 2 elements:

arr = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12])

newarr = arr.reshape(2, 3, 2)

print(newarr)

[[[ 1  2]
  [ 3  4]
  [ 5  6]]

 [[ 7  8]
  [ 9 10]
  [11 12]]]

In [77]:
# Creating a 3x3x3 3-D array using nested lists
array_3d = [
    [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ],
    [
        [10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]
    ],
    [
        [19, 20, 21],
        [22, 23, 24],
        [25, 26, 27]
    ]
]

# Accessing an element
print(array_3d[0][1][2])  # Output: 6

6

In [81]:
print(array_3d[2][1][1]) # Output 23

23

In [95]:
# Two and Three dimensional arrays

array1 = np.array([["000", "001", "002"],
                 ["010", "011", "012"],
                 ["020", "021", "022"]])

array1.ndim

array([['000', '001', '002'],
       ['010', '011', '012'],
       ['020', '021', '022']], dtype='<U3')

In [90]:
# Three dimensional arrays

array2 = np.array([["100", "101", "102"],
                 ["110", "111", "112"],
                 ["120", "121", "122"]])

array2.ndim

2

In [91]:
# Two and Three dimensional arrays

array3 = np.array([["200", "121", "202"],
                 ["210", "211", "212"],
                 ["220", "221", "222"]])

array3.ndim

2

In [93]:
# Tree dimensional arrays
# Actually it is still list

# Creating a 3x3x3 3-D array using nested lists
array_3dtest = [
    [
        ["000", "001", "002"],
        ["010", "011", "012"],
        ["020", "021", "022"]
    ],
    [
        ["100", "101", "102"],
        ["110", "111", "112"],
        ["120", "121", "122"]
    ],
    [
        ["200", "121", "202"],
        ["210", "211", "212"],
        ["220", "221", "222"]
    ]
]

012

In [131]:
array_3dtest

[[['000', '001', '002'], ['010', '011', '012'], ['020', '021', '022']],
 [['100', '101', '102'], ['110', '111', '112'], ['120', '121', '122']],
 [['200', '121', '202'], ['210', '211', '212'], ['220', '221', '222']]]

In [132]:
type(array_3dtest) # check the type

list

In [133]:
# Accessing an element
print(array_3dtest[0][1][2])  # Output: 012 arrax index is 0 (first array), row index is 1(second row) and column index is 2 (third column), 012

012

In [94]:
# Accessing an element
print(array_3dtest[0][1][1])  # Output: 012 arrax index is 0 (first array), row index is 1(second row) and column index is 2 (third column), 011

011

In [119]:
# Making it as the array (2D)

list1Asarr = np.array([["000", "001", "002"],
        ["010", "011", "012"],
        ["020", "021", "022"]])
type(list1Asarr)

numpy.ndarray

In [120]:
list2Asarr = np.array([["100", "101", "102"],
        ["110", "111", "112"],
        ["120", "121", "122"]])
type(list2Asarr)

numpy.ndarray

In [121]:
list3Asarr = np.array([["200", "121", "202"],
        ["210", "211", "212"],
        ["220", "221", "222"]])
type(list3Asarr)

numpy.ndarray

In [128]:
# Making 3D Array feom 2D arrays

array3dAsarr = np.array([list1Asarr, list2Asarr, list3Asarr])
array3dAsarr
#type(array3d)
array3dAsarr.ndim

3

In [129]:
array3dAsarr

array([[['000', '001', '002'],
        ['010', '011', '012'],
        ['020', '021', '022']],

       [['100', '101', '102'],
        ['110', '111', '112'],
        ['120', '121', '122']],

       [['200', '121', '202'],
        ['210', '211', '212'],
        ['220', '221', '222']]], dtype='<U3')

In [130]:
# Accessing an element
print(array3dAsarr[0][1][2])  # Output: 012 arrax index is 0 (first array), row index is 1(second row) and column index is 2 (third column), 012

012

In [134]:
a = np.arange(0, 12)
a

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [136]:
# We could also obtain for example a three-dimensional array with shape (2,2,3)
# Two arrays that contain two arrays with 3 columns

a.reshape(2,2,3)

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [137]:
b = np.arange(0, 60)
b

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59])

In [138]:
b.size

60

In [139]:
b.ndim

1

In [140]:
c = b.reshape(3, 4, 5) # (Dimension, Row and Column format)

In [141]:
c.ndim

3

In [142]:
c.shape

(3, 4, 5)

In [143]:
c # It contains 3 arrays. Each array contain 4 arrays with 5 columns.

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

In [144]:
print(c[1][2][2]) # second array, third row and third column is 32

32

In [146]:
print(c[2][3][4]) # third array, fourth row and fifth column is 32

59

In [147]:
d = np.arange(0, 80)

In [148]:
d.shape

(80,)

In [149]:
e = d.reshape(4, 4, 5)
e

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]],

       [[60, 61, 62, 63, 64],
        [65, 66, 67, 68, 69],
        [70, 71, 72, 73, 74],
        [75, 76, 77, 78, 79]]])

In [150]:
e.ndim #It has 4 arrays. each array contains 4 arrays with 5 columns.

3

In [151]:
# Print 77

print(e[3][3][2]) # It is in 4th array, fourth row and third column

77

In [152]:
## Vectorized operationy

## Element wise

A = np.array([[1,1], [0,1]])
A

array([[1, 1],
       [0, 1]])

In [153]:
A.shape

(2, 2)

In [154]:
A.ndim

2

In [155]:
A.size

4

In [156]:
B = np.array([[2, 0], [3, 4]])

In [157]:
B

array([[2, 0],
       [3, 4]])

In [159]:
# First, letâ€™s use the * operation for numpy arrays:
# Elementwise

A * B

array([[2, 0],
       [0, 4]])

In [160]:
# We can see that this returned the element-wise product. Now, lets use the dot()
# method:

# Matrix multiplication

A.dot(B)

array([[5, 4],
       [3, 4]])

## Concentinating arrays

default axis is zero

In [161]:
a = np.array([11, 22])
b = np.array([18, 7, 6])
c = np.array([1, 3, 5])

d = np.concatenate((a, b, c))

In [162]:
d

array([11, 22, 18,  7,  6,  1,  3,  5])

In [163]:
d.ndim

1

In [164]:
d.shape

(8,)

In [165]:
d.size

8

In [166]:
# Concatenating two dimensional arrays

a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

In [167]:
a

array([[1, 2],
       [3, 4]])

In [168]:
b

array([[5, 6],
       [7, 8]])

In [169]:
np.concatenate((a, b), axis = 0) # by row, Taller table, more rows but same columns number

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [170]:
np.concatenate((a, b), axis = 1) # by column, wider table, same rows but more columns

array([[1, 2, 5, 6],
       [3, 4, 7, 8]])