In [1]:
#Import numpy

import numpy as np

In [3]:
# 1. Create a one-dimensional array with the numbers from 1 to 36 (included).

a = np.arange(1, 37)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36])

In [4]:
a.shape

(36,)

In [5]:
a.ndim

1

In [6]:
# 2. Use the reshape function to transform this into a two-dimensional array with 6 rows and 6 columns.

b = a.reshape(6, 6)
b

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [7]:
# 3. Obtain a one-dimensional array of shape (6) containing the blue entries.
# Select the range of row 0:5 but 5+1 so 0:6
# Slecte the column 1

c = b[0:6, 1]
c

array([ 2,  8, 14, 20, 26, 32])

In [20]:
c.ndim

1

In [8]:
c.shape

(6,)

In [9]:
# 4. Obtain a two-dimensional array of shape (2,2) containing the yellow entries.

#Select the row range 0:1 bit 1+1 so 0:2
#Select the column range 4:5 but 5+1 so 4:6

d = b[0:2, 4:6]
d

array([[ 5,  6],
       [11, 12]])

In [10]:
d.ndim

2

In [11]:
d.shape

(2, 2)

In [13]:
# 5. Obtain a one-dimensional array of shape (2) containing the red entries.

# Select the single row index 5
#Select the column range 4:5 but 5+1 so 4:6

e = b [5, 4:6]
e

array([35, 36])

In [14]:
e.ndim

1

In [15]:
e.shape

(2,)

In [16]:
# 6. Obtain a two-dimensional array of shape (2,3) containing the green entries.
# Not so elegant solution but its one way toda
# Begining and ending and at every third point

f = np.linspace(13, 19, 3, dtype=int, endpoint=False)
f

array([13, 15, 17])

In [17]:
# Begining and ending and at every third point

g = np.linspace(25, 31, 3, dtype=int, endpoint=False)
g

array([25, 27, 29])

In [18]:
#Concentenate as one dimensional array

h = np.concatenate((f,g), axis=0)
h

array([13, 15, 17, 25, 27, 29])

In [19]:
# Reshape it to two dimentsional 2,3 two dimensional array

i = h.reshape(2,3)
i

array([[13, 15, 17],
       [25, 27, 29]])

In [25]:
# More elegant solution
# Select row index 2 and column index 0 through 5 but 5 +1, hence 0:6

x = b[2, 0:6]
x

array([13, 14, 15, 16, 17, 18])

In [31]:
# Start index, end index and step

x1 = x[0:5:2]
x1

array([13, 15, 17])

In [32]:
# Select row index 4 and column index range 0:5 but 5+1, hence 0:6

y = b[4, 0:6]
y

array([25, 26, 27, 28, 29, 30])

In [33]:
# Start index, end index and step
# Concentinate the x1 and y1
#Then reshape 

y1 = y[0:5:2]
y1

array([25, 27, 29])

xy = np.concatenate((x1, y1), axis=0)
xy

In [38]:
#Then reshape it

xy.reshape (2,3)

NameError: name 'xy' is not defined

In [39]:
# Instructors solution

k = np.arange(1,37).reshape(6,6)
k

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [40]:
# The blue array

k[:]

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [13, 14, 15, 16, 17, 18],
       [19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30],
       [31, 32, 33, 34, 35, 36]])

In [41]:
k[:, 1]

array([ 2,  8, 14, 20, 26, 32])

In [42]:
# The yellow array

k[0:2, 4:6]

array([[ 5,  6],
       [11, 12]])

In [43]:
# The red array
# Both are the same solutions

k[5, 4:6]

array([35, 36])

In [44]:
k[5, 4:]

array([35, 36])

In [45]:
# The green array
# Very elegant solution but 

k[2::2, ::2]

array([[13, 15, 17],
       [25, 27, 29]])

In [ ]:
# Boolean Masking of Arrays